*{ 
    margin: 0 auto;
    padding: 0 auto;
}
body{ 
    background-color: gray;
}
.mb{ 
    margin-bottom: 20px;
}
.mr{ 
    margin-right: 20px;
}
.ml{ 
    margin-left: 20px;
}
.mt{ 
    margin-top: 21px;
}
header{ 
    width: 100%;
    height: 150px;
    background-image: url(../images/nenbo.jpg);
    background-size: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 9999999;
}
header >.box_tt{ 
    width: 100%;
    height: 45px;
    background-color:black;
    opacity: 0.8;
    position: fixed;
    top: 0px;
    font-size: 20px;
    line-height: 45px;
}
header >.box_tt >a:link{ 
    color: grey;
    text-decoration: none;
}
header >.box_tt >a:visited{ 
    color: grey;
    text-decoration: none;
}
header >.box_tt >a:hover{ 
    color: rgb(240, 230, 230);
    text-decoration:none;
}
header >.box1{ 
    width: 10%;
    height: 100px;
    position: fixed;
    top: 50px;
    left: 27%;
}
header >.box1 >img{ 
    height: 100%;
    width: 100%;
}
header >.box2{ 
    width: 55%;
    height: 60px;
    font-size: 35px;
    font-weight: bolder;
    font-variant: small-caps;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    position: fixed;
    top: 50px;
    left: 40%;
    line-height: 60px;
}
header >.box3{
    text-align: left; 
    width: 30%;
    height: 30px;
    position: fixed;
    top: 120px;
    left: 45%;
}
.container{ 
    width: 90%;
    height: 5700px;
    background-color: gray;
    margin-top: 180px;
}
.container >article{ 
    width: 100%;
    height: 5400px;
}
article >.container_12{ 
    width: 100%;
    height: 600px;
}
.container_12 >.col_6{ 
    width: calc(49% - 24px);
    height: 560px;
    float: left;
}
.container_12 >.col_6 >img{ 
    width: 100%;
    height: 75%;
    padding-bottom: 50px;
}
.container_12 >.col_6 > a:link, :visited { 
    color: white;
    text-decoration: none;
}
.container_12 >.col_6 >a:hover{ 
    color: tomato;
    direction: none;
}
.container_12 >.col_6 >.col_3{ 
    width: calc(50% - 30px);
    height: 44%;
    float: left;
}
.container_12 >.col_6 >.col_3 >img{ 
    width: 100%;
    height: 80%;
}
.container_12 >.col_6 >.col_3 >img:hover{ 
    opacity: 0.6;
}
.container_12 >.col_6 >.col_3 >a:link,:visited{ 
    color:white;
    text-decoration: none;
}
.container_12 >.col_6 >.col_3 >a:hover{ 
    color:black;
    text-decoration: none;
}
hr{ 
    clear: both;
}
.container >article >.box1_tt{ 
    width: 100%;
    height: 200px;
    font-size: 20px;
    line-height: 45px;
    background-image: url(../images/thoitrangtapchi.jpg);
    background-size: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
}
.container >article >.box1_tt >h1{ 
    font-size: 40px;
    font-weight: bolder;
    font-variant: small-caps;
    color: black;
    line-height: 200px;
    text-align: center;
    opacity: 1.0;
}
article >.box2_tt{ 
    width: 100%;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    color: white;
}
.box21_tt >a:link,:visited{ 
    width: 50%;
    height: 45px;
    float: left;
    text-align: center;
    background-color: black;
    opacity: 0.5;
    text-decoration: none;
}
.box21_tt >a:hover{ 
    width: 50%;
    height: 45px;
    float: left;
    text-align: center;
    background-color: black;
    opacity: 1.0;
    text-decoration: none;
    transition: 0.8s;
}
.container >article >.box3_tt{ 
    width: 85%;
    height: 350px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.container >article >.box3_tt >img{ 
    width: 35%;
    height: 100%;
    float: left;
    padding-right: 30px;
}
.container >article >.box3_tt >img:hover{ 
    opacity: 0.5;
}
.container >article >.box3_tt >.boxnho{ 
    width: 63%;
    text-align: left;
    margin-top: 30px;
    margin-left: 36%;
    position: absolute;
    top: 50px;
}
.container >article >.box3_tt >.boxnho >a:link{ 
    color :white;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    padding-left: 10px;
    
    
}
.container >article >.box3_tt >.boxnho >a:hover{ 
    color:yellow;
}

.container_12>.col4{ 
    width: 25%;
    height: 80%;
    background-image: url(../images/sacdep.jpg);
    float: right;
    margin-top: 50px;
}
.container_12>.col4 >.tieude >.bol>h1{ 
    width: 80%;
    height: 70px;
    text-align: center;
    margin-top: 180px;
    padding-top: 20px;
    color: rgb(29, 4, 9);
    font-size: 30px;
}
.container_12>.col4 >.tieude{ 
    text-align: center;
}
.container_12 >.col8{ 
    width: 67%;
    height: 95%;
    float: left;
}
.container_12 >.col8 >.box4_tt{ 
    width: 100%;
    height: 30%;
}
.container_12 >.col8 >.box4_tt >img{ 
    width: 35%;
    height: 100%;
    float: left;
}
.container_12 >.col8 >.box4_tt >img:hover{ 
    opacity: 0.5;
}
.container_12 >.col8 >.box4_tt >.boxnho1{ 
    float: right;
    width: 60%;
    height: 100px;
    text-align: left;
    margin-top: 30px;
}
.boxnho1 >a:link,:visited{ 
    color: white;
    text-decoration: none;
}
.boxnho1 >a:hover{ 
    color: black;
    text-decoration: none;
}
table{ 
    width: 90%;
    border-spacing: 5px;
    border: 1px solid wheat;
}
th, td, tr{
    border: 1px solid wheat;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
}
th{
    width: 26%;
    height: 10px;
}
td{
    height: 30px;
}
tr:hover{ 
    background-color: green;
}
.container_12>.col41{ 
    width: 26%;
    height: 80%;
    background-image: url(../images/sacdep.jpg);
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}
.container_12>.col41 >.tieude1 >.bol1>h1{ 
    width: 80%;
    height: 70px;
    text-align: center;
    margin-top: 180px;
    padding-top: 20px;
    color: rgb(29, 4, 9);
    font-size: 30px;
}
.container_12>.col41 >.tieude1{ 
    text-align: center;
}
.container_12 >.col81{ 
    width: 67%;
    height: 95%;
    float: right;
}
.container_12 >.col81 >.box5_tt{ 
    width: 100%;
    height: 30%;
}
.container_12 >.col81 >.box5_tt >img{ 
    width: 35%;
    height: 100%;
    float: right;
}
.container_12 >.col81 >.box5_tt >img:hover{ 
    opacity: 0.5;
}
.container_12 >.col81 >.box5_tt >.boxnho2{ 
    float: right;
    width: 60%;
    height: 100px;
    text-align: left;
    margin-top: 30px;
}
.boxnho2 >a:link,:visited{ 
    color: white;
    text-decoration: none;
}
.boxnho2 >a:hover{ 
    color: black;
    text-decoration: none;
}
footer{ 
    width: 90%;
    height: 200px;
}
footer >.ghichu{
    width: 90%;
    height: 150px;
    padding-top: 10px;
    border: 2px dotted white;
    margin-bottom: 30px;
}
footer >.ghichu >p{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    font-variant: small-caps;

}
footer >.ghichu >h1{
    font-size: 25px;
    font-family: monospace;
    font-variant: small-caps;
    text-align: center;
}